<div id="chapo">
    <img src="https://www.infini.fr/plugins/spip-infini/img/logo-sendagi-blanc-inline.svg" alt="Infini" width="80" height="80">
    <h1>Infini</h1>
    <p>Hébergeur associatif de sites et services web</p>
</div>
